# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# IDE specific files
.vscode/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Other
!.gitkeep
